<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout.html}">

<head>
</head>

<body>
	<div layout:fragment="content">

		<div th:replace="admin/fragments/message:: message"></div>

		<div class="col-md-4 offset-md-4 mt-4">
			<form th:action="@{/accountpage/confirm-password/submit}"
				method="POST" th:object="${forgotPassword}">
				<h1 class="mb-3 font-weight-normal">Confirm password</h1>
				<input type="hidden" th:field="*{sendMailId}"> <input
					type="hidden" th:field="*{email}">
				<div class="form-group">
					<label for="code">Code</label> <input th:field="*{code}"
						type="text" name="code" id="code" class="form-control"
						placeholder="Code ?">
				</div>
				<div class="form-group">
					<label for="newPassword">New password</label> <input
						th:field="*{newPassword}" type="password" name="newPassword"
						id="newPassword" class="form-control" placeholder="New password ?">
					<div class="text-danger"
						th:if="${#fields.hasErrors('newPassword')}"
						th:errors="*{newPassword}"></div>
				</div>
				<div class="form-group">
					<label for="confimPassword">Confim password</label> <input
						th:field="*{confimPassword}" type="password" name="confimPassword"
						id="confimPassword" class="form-control"
						placeholder="Confim password ?">
					<div class="text-danger"
						th:if="${#fields.hasErrors('confimPassword')}"
						th:errors="*{confimPassword}"></div>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<i class="fas fa-sign-in-alt"></i> Submit
				</button>
			</form>
		</div>

	</div>
</body>

</html>