<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout.html}">

<head>
</head>

<body>
	<div layout:fragment="content">

		<div th:replace="admin/fragments/message:: message"></div>

		<div class="col-md-4 offset-md-4 mt-4">
			<h1 class="mb-3 font-weight-normal">Forgot password</h1>
			<form th:action="@{/accountpage/forgot-password}" method="POST">
				<div class="form-group">
					<label for="email">Email:</label> <input type="text"
						class="form-control" name="email" id="email" placeholder="Email ?">
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<i class="fas fa-envelope"></i> Send email
				</button>
			</form>
		</div>

	</div>
</body>

</html>