<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout.html}">

<head>
</head>

<body>
	<div layout:fragment="content">

		<div class="col-md-2 offset-md-5 mt-4">
			<form action="" method="">
				<h3 class="mb-3 font-weight-normal">Forgot password</h3>
				<div class="form-group">
					<label for="email">Email</label> <input type="text" name="email"
						id="email" class="form-control" placeholder="email">
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<i class="fas fa-envelope"></i> Send email
				</button>
			</form>
		</div>

	</div>
</body>

</html>