<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout.html}">

<head>
</head>

<body>
	<div layout:fragment="content">

		<div class="col-md-6 offset-md-3 mt-4">
			<form action="" method="">
				<h3 class="mb-3 font-weight-normal">Register</h3>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email">Email</label> <input type="text" name="email"
							id="email" class="form-control" placeholder="email">
					</div>
					<div class="form-group col-md-6">
						<label for="email">Email</label> <input type="text" name="email"
							id="email" class="form-control" placeholder="email">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email">Email</label> <input type="text" name="email"
							id="email" class="form-control" placeholder="email">
					</div>
					<div class="form-group col-md-6">
						<label for="email">Email</label> <input type="text" name="email"
							id="email" class="form-control" placeholder="email">
					</div>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<i class="fas fa-sign-in-alt"></i> Sign in
				</button>
				<button class="btn btn-lg btn-danger btn-block">
					<i class="fab fa-google-plus-g"></i> Google+
				</button>
			</form>
		</div>

	</div>
</body>

</html>